FusionMethods/input
FusionMethods/.vs
FusionMethods/output
Datasets/Dataset_57
Datasets/VID
Datasets/SITW_Subset
Datasets/ID_Clean_Noise_Splitted_Filtered
Experts/CreateDataset/FileList.csv
Experts/LDA/KFold_Split.csv
Experts/CreateDataset/KFold_Split.csv
Experts/LDA/__pycache__/FisherFace.cpython-36.pyc
Experts/LDA/Data_1.csv
Experts/LDA/Data_3.csv
Experts/LDA/Data_2.csv
FusionMethods/src/ComparativeMethods.cpp~RF1208413.TMP
